- if params[:just_purchased]
  %h1 Vielen Dank für Deinen Einkauf

%h2
  = t 'cart.texts.purchase_from', date: I18n.l(cart.updated_at)
%p
  = t 'cart.texts.explain'
- cart.line_item_groups.each do |group|
  = render 'line_item_groups/shared/listitem' , line_item_group: group

-# Track purchase with piwik
- if @track_purchase
  :javascript
    var _paq = _paq || [];
    _paq.push(['trackGoal', 1]);
    console.log('Tracked...');
    console.log(_paq);
